{# templates/profile/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Shortmessage! Edit profile{% endblock %}


{% block body %}

<br>

{% for message in app.flashes('success') %}
    <div class="alert alert-success"><h3>{{ message }}</h3></div>
{% endfor %}

{% for message in app.flashes('failure') %}
    <div class="alert alert-danger"><h3>{{ message }}</h3></div>
{% endfor %}

    <h1>Edit Profile</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#social" type="button" role="tab" aria-controls="social" aria-selected="true">Social Links</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#password" type="button" role="tab" aria-controls="password" aria-selected="false">Password</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="social" role="tabpanel" aria-labelledby="social-tab">
  {{ form_start(formSocialLink) }}
<br>
        <div class="form-group">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="" class="form-label" >New Social Link</label>
                </div>
                <div class="col-auto">
                    <input type="text" name="{{ field_name(formSocialLink.newSocialLink)}}" 
                class="form-control me-2"
                value="{{ field_value(formSocialLink.newSocialLink)}}"
                placeholder="https://" required>
                </div>
                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        Facebook, Twitter, X, Xing are Linkedin are allowd.
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn" id="{{ field_name(formSocialLink.save) }}" name="{{ field_name(formSocialLink.save) }}"> Save</button>
        </div>
    {{ form_end(formSocialLink) }}

    <h2>Existing Social Links</h2>
    <ul>
        {% for link in user.socialLinks %}
            <li>
                <a href="{{ link }}" target="_blank">{{ link }}</a>
                <a href="{{ path('remove_social_link', {'index': loop.index0}) }}" class="btn btn-danger btn-sm">Remove</a>
            </li>
        {% endfor %}
    </ul>
  
  
  </div>
  <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
    {{ form_start(formEditPassword) }}
        <div class="form-group">
            {{ form_row(formEditPassword.password) }}
        </div>
        <div class="form-group">
            {{ form_row(formEditPassword.save) }}
        </div>
    {{ form_end(formEditPassword) }}
  </div>
</div>

    

        




{% endblock %}



