{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<br>
<div>
<p>id : {{user.id}}</p>
<p>eMail: {{ user.email }}</p>
{% if is_granted('ROLE_ADMIN') %}
  <p>Role: 
  {% for role in user.roles %}
    {{ role }}
  {% endfor %}</p>
{% endif %}

        {% for link in app.user.socialLinks %}
                {% if 'twitter.com' in link or 'x.com' in link %}
                    <a href="{{ link }}" target="_blank" class="bi bi-twitter-x" alt="Twitter-X"></a>
                {% elseif 'facebook.com' in link %}
                    <a href="{{ link }}" target="_blank" class="bi bi-facebook" alt="Facebook"></a>
                {% elseif 'linkedin.com' in link %}
                    <a href="{{ link }}" target="_blank" class="bi bi-linkedin" alt="Linkedin"></a>
                {% else %}
                    <a href="{{ link }}" target="_blank">{{ link }}</a>
                {% endif %}
        {% endfor %}

<p>Post count: {{ posts|length }}</p>

<h3>My posts</h3>
{% for post in pagination %}

    {% include 'home/post.html.twig' %}

{% endfor %}

            {{ knp_pagination_render(pagination) }}


</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'js/js_likedislikeupdate.html.twig' %}
{% endblock %}