{% extends 'base.html.twig' %}

{% block title %}Shortmessage!{% endblock %}

{% block body %}
<br>
{% for message in app.flashes('success') %}
    <div class="alert alert-success"><h3>{{ message }}</h3></div>
{% endfor %}

{% for message in app.flashes('failure') %}
    <div class="alert alert-danger"><h3>{{ message }}</h3></div>
{% endfor %}

    <form method="get" action="{{ path('home') }}">
        <select name="sort" onchange="this.form.submit()">
            <option value="date_desc" {% if currentSort == 'date_desc' %}selected{% endif %}>Date descending</option>
            <option value="date_asc" {% if currentSort == 'date_asc' %}selected{% endif %}>Date ascending</option>
            <option value="thumbsup_desc" {% if currentSort == 'thumbsup_desc' %}selected{% endif %}>Thumpsup descending</option>
            <option value="thumbsup_asc" {% if currentSort == 'thumbsup_asc' %}selected{% endif %}>Thumpsup ascending</option>
            <option value="thumbsdown_desc" {% if currentSort == 'thumbsdown_desc' %}selected{% endif %}>Thumpsdown descending</option>
            <option value="thumbsdown_asc" {% if currentSort == 'thumbsdown_asc' %}selected{% endif %}>Thumpsdown ascending</option>
        </select>
    </form>

{% for post in pagination %}

    {% include 'home/post.html.twig' %}

{% endfor %}

            {{ knp_pagination_render(pagination, null, { 'sort': currentSort }) }}

        

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include 'js/js_likedislikeupdate.html.twig' %}
{% endblock %}
