  <div class="card">
    <div class="card-header">
      <a href="{{path('view',{ 'id' : post.id })}}">{{post.name}} -{{post.id}}</a>
    </div>
    <div class="card-body" id="{{ post.id }}" data-post-id="{{ post.id }}">
      <blockquote class="blockquote mb-0">
        <p>{{ post.text|length > 255 ? post.text|slice(0, 255) ~ '...' : post.text  }}</p>
        <footer class="blockquote-footer">{{post.date |date('d-m-Y H:i:s')}} by <a href="{{path('user_view',{ 'id' : post.author.id})}}">{{post.author}}</a> - Comments {{post.comments|length}} - Category: {{post.category}} - 
        <button id="share-button-{{ post.id }}" class="btn btn-secondary bi bi-share-fill"></button> - 
        <button id="likes-{{post.id}}" class="btn like-btn" {{ render(controller('App\\Controller\\HomeController::getlikestatus', {'postid' : post.id}))}} onclick="likePost({{post.id}})"> <i class="bi bi-hand-thumbs-up"></i> {{post.likecount}}</button> | 
        <button id="dislikes-{{post.id}}" class="btn dislike-btn" {{ render(controller('App\\Controller\\HomeController::getlikestatus', {'postid' : post.id}))}} onclick="dislikePost({{post.id}})"> <i class="bi bi-hand-thumbs-down"></i> {{post.dislikecount}}</button>
        {% if app.user %}{% if app.user.id == post.author.id or is_granted('ROLE_ADMIN') %}<a href="{{path('editpost',{ 'id' : post.id })}}">Edit</a> - <a href="{{path('delete',{ 'id' : post.id })}}">Delete</a>{% endif %}{% endif %}
        </footer>

      </blockquote>
    </div>


    <div class="modal" id="share-modal-{{ post.id }}" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Share this post!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li><a href="{{path('view',{ 'id' : post.id })}}" class="share-link" data-network="facebook"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="{{path('view',{ 'id' : post.id })}}" class="share-link" data-network="whatsapp"><i class="bi bi-whatsapp"></i></a></li>
                        <li><a href="{{path('view',{ 'id' : post.id })}}" class="share-link" data-network="twitter"><i class="bi bi-twitter-x"></i></a></li>
                        <li><a href="{{path('view',{ 'id' : post.id })}}" class="share-link" data-network="linkedin"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <hr>
  </div>