{% extends 'base.html.twig' %}

{% block title %}Shortmessage!{% endblock %}

{% block body %}
<br>
{% for message in app.flashes('success') %}
    <div class="alert alert-success"><h3>{{ message }}</h3></div>
{% endfor %}

{% for message in app.flashes('failure') %}
    <div class="alert alert-danger"><h3>{{ message }}</h3></div>
{% endfor %}

  <div class="card">
    <div class="card-header">
      <a href="{{path('view',{ 'id' : post.id })}}">{{post.name}} -{{post.id}}</a>
    </div>
    <div class="card-body" id="{{ post.id }}">
      <blockquote class="blockquote mb-0">
        <p>{{post.text}}</p>
        <footer class="blockquote-footer">{{post.date |date('d-m-Y H:i:s')}} by {{post.author}} - Category: {{post.category}} - 
        <button id="likes-{{post.id}}" class="like-btn" {{ render(controller('App\\Controller\\HomeController::getlikestatus', {'postid' : post.id}))}} onclick="likePost({{post.id}})"><i class="bi bi-hand-thumbs-up"></i> {{post.likecount}}</button> | 
        <button id="dislikes-{{post.id}}" class="dislike-btn" {{ render(controller('App\\Controller\\HomeController::getlikestatus', {'postid' : post.id}))}} onclick="dislikePost({{post.id}})"><i class="bi bi-hand-thumbs-down"></i> {{post.dislikecount}}</button>
        {% if app.user %}{% if app.user.id == post.author.id or is_granted('ROLE_ADMIN') %}<a href="{{path('editpost',{ 'id' : post.id })}}">Edit</a> - <a href="{{path('delete',{ 'id' : post.id })}}">Delete</a>{% endif %}{% endif %}
        </footer>
      </blockquote>
    </div>
  </div>
  <br>
        

{% block javascripts %}
    {{ parent() }}

    {% include 'js/js_likedislikeupdate.html.twig' %}
{% endblock %}

{% endblock %}
