{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container register">

    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, { 'attr' : {class:'registration'}}) }}

    <div class="mb-3 row">
        <label for="inputEmail" class="col-sm-2 col-form-label">{{ field_label(registrationForm.email) }}</label>
        <div class="col-sm-10">
            <input type="text" 
            name="{{ field_name(registrationForm.email) }}"
            class="form-control" 
            id="inputEmail" 
            value="{{ field_value(registrationForm.email) }}">
        </div>
    </div>

    <div class="mb-3 row">
        <label for="inputUsername" class="col-sm-2 col-form-label">{{ field_label(registrationForm.username) }}</label>
        <div class="col-sm-10">
            <input type="text" 
            name="{{ field_name(registrationForm.username) }}"
            class="form-control" 
            id="inputUsername" 
            value="{{ field_value(registrationForm.username) }}">
        </div>
    </div>

    <div class="mb-3 row">
        {{ form_label(registrationForm.plainPassword,'Password', {
            'label_attr': {'class': 'col-sm-2 col-form-label', 
            'for':'inputPassword'
            }}) }}
        <div class="col-sm-10">
            <input type="password" 
            name="{{ field_name(registrationForm.plainPassword) }}"
            class="form-control" 
            id="inputPassword" 
            value="{{ field_value(registrationForm.plainPassword) }}">
        </div>
    </div>


        
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
