<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  
  <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{asset('css/bootstrap-icons.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{asset('css/main.css')}}">
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/js/all.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{path('home')}}">Smartmessage</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="collapsingNavbar">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{path('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('newpost')}}">New Post</a>
        </li>
        <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu">
                  {{render(controller('App\\Controller\\HomeController::getcatergory', {'navslug':'headnavbar'}))}}

                  {% if is_granted('ROLE_ADMIN') %}
                    <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{path('newcategory')}}">Create new Category</a></li>
                  {% endif %}
                  
                </ul>
        </li>
        {% if is_granted('ROLE_ADMIN') %}
                  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <ul class="dropdown-menu">

                  <li><a class="dropdown-item" href="{{path('admin_userlist') }}">Users</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{path('newcategory')}}">Create new Category</a></li>
                </ul>
        </li>

        {% endif %}
      </ul>
          <ul class="navbar-nav d-fex">
      {{ render(controller('App\\Controller\\PostController::showsearchbar'))}}
      <span class="navbar-text">
        {% if app.user %}
          <a href="{{path('user_profile')}}">{{ app.user.email }}</a>
        {% endif %}
        </span>
      <li class="nav-item">
        <a class="nav-link" href="{{ app.user ? path('logout') : path('login') }}">{{app.user ? 'Logout' : 'Login'}}</a>
      </li>
            {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('register')}}">Register</a>
        </li>
        {% endif %}
        
    </ul>

    </div>



</nav>
<div class="container">
  <div class="row">
    <div class="nav-sidebar col-sm-1 col-md-2">
    <a href="#">Category</a>
      <ul>
        <ul>
        </ul>
        {{render(controller('App\\Controller\\HomeController::getcatergory', {'navslug':'sidebar'}))}}
      </ul>

      
    </div>
    <div class="posts col-sm-9 col-md-8">
      <div class="overflow-auto">
      
          {% block body %}{% endblock %}

      </div>
    </div>
    <div class="ad col-sm-2 col-md-2">Ad</div>

  </div>

</div>
{% block javascripts %}
{% endblock %}
<script src="{{asset('js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>